body {
    margin: 0;
}

.card {
    font-family: sans-serif;
    padding: 12px;
    background: #fff;
    box-shadow: #cecece 0 0 4px;
    margin: 5px 5px 24px 5px;
}

.navigation .branding {
    z-index: 5;
    font-size: 1.5em;
    font-family: "SourceSansPro", sans-serif;
    background: #2aabe1;
    color: #fff;
    padding: 12px 15px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 4px #cecece;
    border: none;
}

#component_view {
    position: fixed;
    left: 0;
    right: 0;
    top: 122px;
    bottom: 0;
    overflow: auto;
}

body {
  background: url("/assets/images/default-background.png") repeat;
}

.navigation .nav {
    padding: 5px;
    display: flex;
    position: fixed;
    top: 53px;
    left: 0;
    right: 0;
    font-family: sans-serif;
    background: #f2f2f2;
    margin-top: 0;
    box-shadow: 0 0 4px #cecece;
    z-index: 5;
}

.btn-back {
    display: none;
}

.navigation .nav a {
    width: 56px;
    height: 56px;
    text-align: center;
}

.navigation .nav .icon {
    height: 32px;
    margin: 10px;
    width: 32px;
    height: 32px;
    cursor: pointer;
}

.nav .router-link-exact-active {
    transition: background-color linear 200ms, filter linear 200ms;
    background-color: #D5531D;
    filter: invert(1);
    border-radius: 50%;
}

/**

*/
@media screen and (max-width: 900px) {
    #component_view {
        top: 53px;
        bottom: 66px;
        background-size: 100%;
    }

    .navigation .nav {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        max-width: 100vw;
    }
}

.button {
    font-family: sans-serif;
    border: none;
    padding: 12px 20px 8px 20px;
    width: 100%;
    font-size: 1em;
    display: inline;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
    white-space: nowrap;
}

.button.primary {
    color: white;
    background-color: #f86d14;
}

.button.secondary {
    color: white;
    background-color: #808080;
}

/* CSS for Loading View */
.loading {
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    /* background: #cecece; */
}

.loading img {
    width: 20vw;
    height: auto;
    animation: jump 1s infinite linear;
    pointer-events: none;
    visibility: visible;
}

.loading.hide img {
    visibility: hidden;
    transition: visibility 300ms linear;
}

.loading.hide {
    transition: background-color 300ms linear;
    background: transparent;
    pointer-events: none;
}

@keyframes spin {
    from {
        transform: rotateZ(0)
    }
    to {
        transform: rotateZ(360deg)
    }
}

@keyframes jump {
    0% {
        transform: scale(1)
    }
    50% {
        transform: scale(1.18)
    }
    70% {
        transform: scale(1)
    }
    80% {
        transform: scale(1.07)
    }
    87% {
        transform: scale(1.04)
    }
    94% {
        transform: scale(1.02)
    }
    95% {
        transform: scale(1.005)
    }
    97% {
        transform: scale(1)
    }
}
