body, html {
  font-family: sans-serif;
  height: 100%
}
.bg {position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: auto;
  background: url("default-background.png") repeat;
  display:flex;
  justify-content: center;
  align-items: center;
}
button {font-size: 50px;}
div .bg-text {
  background-color: white;
}
h1 {font-size: 70px;}
input {font-size: 70px;}
